html {
   font-size: 16px;

}

body {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

em {
   font-style: italic;
}

p {

}

a {

}
